#page {
  height: 352px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(219,221,218)),
    color-stop(0.55, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(219,221,218) 9%,
    rgb(255,255,255) 55%
  );
}

#site-header {
  height: 114px;
}

#branding {
  margin-top: 56px;
}

#search-box {
  margin-top: 50px;
}


#header-regions {
  height: 238px;
}

#main-content-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto; 
  margin-top: 36px;
}

#footer {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(218,220,217)),
    color-stop(0.55, rgb(219,221,218))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(218,220,217) 9%,
    rgb(219,221,218) 55%
  );
}

.panel-2col .panel-col-first,
.panel-2col .panel-col-last {
  width: 340px;
}

.panel-2col .panel-col-first {
  margin-right: 20px;
}

.panel-2col .panel-col-first .inside,
.panel-2col .panel-col-last .inside {
  margin: 0px;
}

.panel-2col .panel-separator {
  margin-bottom: 25px;
}
