#page {
  height: 352px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(219,221,218)),
    color-stop(0.55, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(219,221,218) 9%,
    rgb(255,255,255) 55%
  );
}

#site-header {
  height: 114px;
}

#branding {
  margin-top: 56px;
}

#search-box {
  margin-top: 50px;
}
