@media screen and (max-width:480px){
  .front #main-wrapper #main-content .panel-panel.panel-col-first,
  .block-elib_infinite_carousel h2,
  .infiniteCarousel a.arrow {
    display: none;
  }

  body,
  #footer,
  #page {
    width: 100%;
  /*overflow: hidden;*/
  }

  body,
  #page,
  #search-box {
    margin: 0;
    padding: 0;
  }

  #site-header,
  #header-regions,
  #main-content-container,
  #footer-wrapper {
    width: 90%;
  }

  #site-header #branding,
  #site-header #site-menu,
  #site-header #search-box,
  #hader-regions #header-first,
  .panel-2col .panel-col-first, .panel-2col .panel-col-last {
    width: 100%;
  }

  #site-header #branding {
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  .container-16 .grid-1,
  .container-16 .grid-2,
  .container-16 .grid-3,
  .container-16 .grid-4,
  .container-16 .grid-5,
  .container-16 .grid-6,
  .container-16 .grid-7,
  .container-16 .grid-8,
  .container-16 .grid-9,
  .container-16 .grid-10,
  .container-16 .grid-11,
  .container-16 .grid-12,
  .container-16 .grid-13,
  .container-16 .grid-14,
  .container-16 .grid-15,
  .container-16 .grid-16,
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16 {
    margin: 0;
    width: 100%;
  }

  #header-regions {
    height: 157px;
    overflow: hidden;
  }

  #header-regions .infiniteCarousel,
  #header-regions .infiniteCarousel .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .infiniteCarousel .wrapper ul {
    width: 100%;
  }

  .infiniteCarousel ul li {
    height: auto;
    width: 33%;
    padding: 0;
  }

  .infiniteCarousel ul li a img {
    height: auto;
    margin: auto;
    width: 75%;
  }

  #page {
    background: none;
    background-image: -moz-linear-gradient(center bottom , #DBDDDA 9%, #FFFFFF 55%);
    height: 370px;
  }

  #site-header {
    height: 190px;
  }

  #search-box {
    text-align: center;
    float: none;
  }

  #ting-search-form {
    padding: 0;
    width: 100%;
    border: 0;
  }

  #ting-search-form div {
    padding: 3px 3px 3px 8px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #DBDDDA;
  }

  #ting-search-form .form-item {
    background: none;
  }

  #site-menu ul.menu li:first-child a                    { background: none; }
  #site-menu ul.menu li:first-child a:hover              { background: none; }
  #site-menu ul.menu li:first-child a.active             { background: none; }
  #site-menu ul.menu li:first-child + * a                { background: none; }
  #site-menu ul.menu li:first-child + * a:hover          { background: none; }
  #site-menu ul.menu li:first-child + * a.active         { background: none; }
  #site-menu ul.menu li:first-child + * + * a            { background: none; }
  #site-menu ul.menu li:first-child + * + * a:hover      { background: none; }
  #site-menu ul.menu li:first-child + * + * a.active     { background: none; }
  #site-menu ul.menu li:first-child + * + * + * a        { background: none; }
  #site-menu ul.menu li:first-child + * + * + * a:hover  { background: none; }
  #site-menu ul.menu li:first-child + * + * + * a.active { background: none; }

  #site-menu {
    height: 32px;
    padding-top: 8px;
    border-top: 2px solid #DBDDDA;
  }

  #site-menu ul.menu li {
    width: 25%;
    height: 32px;
    float: left;
    background: none;
  }

  #site-menu ul.menu li a {
    width: 100%;
    height: 32px;
    text-indent: 0;
    background: none;
    text-align: center;
    font: 20px/26px 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    color: #8c938b;   
    text-decoration: none;
  }

  #site-menu ul.menu li:hover a,
  #site-menu ul.menu li a:hover {
    text-decoration: underline;
  }

  #site-menu ul.menu li a.active {
    color: #84004c;
  }

  #footer #footer-first .block.block-block {
    clear: both;
  }

  /*
  .container-12,
  .container-16,
  .container-24,
  #page,
  .panel-2col .panel-col-first,
  .panel-2col .panel-col-last,
  .container-12 .grid-9,
  .container-16 .grid-12,
  .container-12 .grid-12,
  .container-16 .grid-16 {
    width: 90%;
  }

  #site-header {
    height: 210px;
    margin: 0 0 25px;
  }

  #search-box {
    margin: 0;
  }

  #ting-search-form,
  #ting-search-form .form-item,
  #ting-search-form .form-text,
  #ting-search-form .form-submit {
    float: left;
  }

  #ting-search-form .form-item {
    width: 225px
  }

  #site-menu ul.menu li,
  #site-menu ul.menu li a {
    width: 70px;
  }

  #main-content-container {
    margin: 0;
  }

  .panel-2col .panel-col-first {
    float: none;
    margin-right: 0;
  }

  .pane-views-panes .view-content div.views-row:nth-child(2),
  .pane-views-panes .view-content div.views-row:nth-child(3),
  .pane-block .display-book:nth-child(4),
  .pane-block .display-book:nth-child(5),
  .pane-block .display-book:nth-child(6),
  .pane-block .display-book:nth-child(7),
  .pane-block .display-book:nth-child(8),
  .pane-block .display-book:nth-child(9),
  .pane-block .display-book:nth-child(10) {
    display:none
  }

  .view-anmeldelser .views-row {
    border-bottom: 0;
    padding: 0;
  }

  #page {
    margin-left: 10px;
    margin-right: 10px;
  }

  .view-anmeldelser .field-field-book .picture img {
    width: 80px;
  }

  .view-anmeldelser h3 a {
    font: 16px/18px 'DroidSerifRegular',Helvetica,Arial,sans-serif;
  }

  body {
    font-size: 10px;
    line-height: 14px;
  }

  .view-anmeldelser .field-field-book .record h3 {
    margin-bottom: 5px;
  }

  .display-book .right {
    width: 190px;
  }

  #site-header #branding {
    display: block;
    margin-bottom: 15px;
    margin-left: 46px;
    margin-top: 35px;
  }

  #ting-search-form .form-submit {
    background-color: #A5165D;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9) inset;
    height: 30px;
    text-transform: uppercase;
    width: 60px;
  }
*/
}
