
/**
 * SIDEBAR FIRST
 */
.pane-content,
#sidebar-first .block .content {
  border: 2px solid #DBDDDA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
	/*
   *padding: 10px;
	 */
}

.pane-content .picture img {
  border: 1px solid #DDDFDC;
  padding: 3px;
}

#sidebar-first .block .content {
  background-color: #ededed;
  line-height: 20px;
}

/**
 * SUBJECTS BLOCK
 */
#block-elib_block_categories-0 ul, #block-elib_block_categories-0 li {
  display: inline;
  margin: 0;
  padding: 0;
}

#block-elib_block_categories-0 ul li:after {
  content: " • ";
  color: #c5ccc4;
  font-size: 10px;
}

#block-elib_block_categories-0 ul li.last:after {
  content: " ----- ";
}

/**
 * LATEST NEWS BLOCK
 */
.view-latest-news .views-row {
  margin-top: 15px;
}

.view-latest-news .views-row.views-row-first {
  margin-top: 0;
}

/**
 * PRIMARY NAVIGATION
 */
ul.main-menu li {
  padding: 0;
  margin: 0;
  height: 112px;
  width: 80px;
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  background-repeat: no-repeat;
}

ul.main-menu li a {
  display:none;
}

ul.main-menu li:hover {
  cursor: pointer;
}

ul.main-menu li.menu-326        { background-image: url("../images/forside.png");        }
ul.main-menu li.menu-326:hover  { background-image: url("../images/forside_hover.png");  }
ul.main-menu li.menu-326.active { background-image: url("../images/forside_active.png"); }
ul.main-menu li.menu-328        { background-image: url("../images/emner.png");          }
ul.main-menu li.menu-328:hover  { background-image: url("../images/emner_hover.png");    }
ul.main-menu li.menu-328.active { background-image: url("../images/emner_active.png");   }
ul.main-menu li.menu-829        { background-image: url("../images/hjaelp.png");         }
ul.main-menu li.menu-829:hover  { background-image: url("../images/hjaelp_hover.png");   }
ul.main-menu li.menu-829.active { background-image: url("../images/hjaelp_active.png");  }
ul.main-menu li.menu-331        { background-image: url("../images/logind.png");         }
ul.main-menu li.menu-331:hover  { background-image: url("../images/logind_hover.png");   }
ul.main-menu li.menu-331.active { background-image: url("../images/logind_active.png");  }

/**
 * SEARCH FORM
 */
#search-theme-form,
#search-theme-form .form-item,
 #search-theme-form .form-text,
#search-theme-form .form-submit {
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  margin: 0;
  background: none;
}
#search-theme-form {
  background: #FFFFFF;
  padding: 3px 3px 3px 8px;
  border: 2px solid #dbddda;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#search-theme-form .form-item {
  background-image: url("../images/magnifier.png");
  background-repeat: no-repeat;
  background-position: left top;
}
#search-theme-form .form-text {
  color: #8c938b;
  padding: 6px 6px 4px 46px;
  font-size: 15px;
}
#search-theme-form .form-submit {
  background-color: #A5165D;
  color: #FFFFFF;
  height: 30px;
  width: 60px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
}




.panel-2col .panel-col-first,
.panel-2col .panel-col-last {
  width: 340px;
}

.panel-2col .panel-col-first {
  margin-right: 20px;
}

.panel-2col .panel-col-first .inside,
.panel-2col .panel-col-last .inside {
    margin: 0px;
}

#header-regions {
  height: 238px;
}

#main-content-container {
  margin-top: 36px;
}

.view-anmeldelser h2,
.view-anmeldelser .submitted,
.view-anmeldelser .field-field-date,
.view-anmeldelser .field-field-review,
.view-anmeldelser .field-field-book .field-label,
.view-anmeldelser .field-field-book .record .types,
.view-anmeldelser .field-field-book .record .meta,
.view-anmeldelser .field-field-book .record .subjects {
  display: none;
}

.view-anmeldelser .node {
	border: none;
	margin: 0px;
	padding: 0px;
}

.view-anmeldelser .field-field-book li {
  list-style-type: none;
}

.view-anmeldelser .field-field-book .picture {
  float: left;
  margin: 12px 12px 20px 12px;
}

.view-anmeldelser .field-field-book .picture a {
  display: block;
}

.view-anmeldelser .field-field-book .picture img {
  width: 120px;
	/*
   *height: 180px;
	 */
}

.view-anmeldelser .field-field-book .record {
  float: left;
	margin: 12px 0 20px 0;
  width: 173px;
}

.view-anmeldelser .field-field-book .abstract {
	font-size: 12px;
}

.view-anmeldelser h3 {
	margin-bottom: 20px;
}

.view-anmeldelser h3 a {
  color: #89104c;
	text-decoration: none;
	font-size: 20px;
	font-weight: normal;
	font-family: serif;
}


.display-book .title,
.display-book .author,
.display-book .icons {
  float: left;
}

.display-book .picture {
  float: left;
  margin: 12px;
}

.display-book .picture a {
  display: block;
}

.display-book .picture img {
  width: 120px;
}





/**
 * CAROUSEL
 */
.infiniteCarousel {
  width: 940px;
}

.infiniteCarousel .wrapper {
  width: 930px;
}

.infiniteCarousel .back {
  background: url("../images/cycle-left.png") no-repeat center left;
}

.infiniteCarousel .back:hover {
  background: url("../images/cycle-left_hover.png") no-repeat center left;
}

.infiniteCarousel .forward {
  background: url("../images/cycle-right.png") no-repeat center right;
}

.infiniteCarousel .forward:hover {
  background: url("../images/cycle-right_hover.png") no-repeat center right;
}