/**
 * SIDEBAR FIRST
 */
.pane-content,
#sidebar-first .block .content {
  border: 2px solid #DBDDDA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  padding: 10px;
}

.pane-content .picture img {
  border: 1px solid #DDDFDC;
  padding: 3px;
}

#sidebar-first .block .content {
  background-color: #ededed;
  line-height: 20px;
}

/**
 * SUBJECTS BLOCK
 */
#block-elib_block_categories-0 ul, #block-elib_block_categories-0 li {
  display: inline;
  margin: 0;
  padding: 0;
}

#block-elib_block_categories-0 ul li:after {
  content: " • ";
}

#block-elib_block_categories-0 ul li.last:after {
  content: " ----- ";
}

/**
 * LATEST NEWS BLOCK
 */
.view-latest-news .views-row {
  margin-top: 15px;
}

.view-latest-news .views-row.views-row-first {
  margin-top: 0;
}

/**
 * PRIMARY NAVIGATION
 */
ul.main-menu li {
  padding: 0;
  margin: 0;
  height: 112px;
  width: 80px;
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  background-repeat: no-repeat;
}

ul.main-menu li a {
  display:none;
}

ul.main-menu li:hover {
  cursor: pointer;
}

ul.main-menu li.menu-326        { background-image: url("../images/forside.png");        }
ul.main-menu li.menu-326:hover  { background-image: url("../images/forside_hover.png");  }
ul.main-menu li.menu-326.active { background-image: url("../images/forside_active.png"); }
ul.main-menu li.menu-328        { background-image: url("../images/emner.png");          }
ul.main-menu li.menu-328:hover  { background-image: url("../images/emner_hover.png");    }
ul.main-menu li.menu-328.active { background-image: url("../images/emner_active.png");   }
ul.main-menu li.menu-829        { background-image: url("../images/hjaelp.png");         }
ul.main-menu li.menu-829:hover  { background-image: url("../images/hjaelp_hover.png");   }
ul.main-menu li.menu-829.active { background-image: url("../images/hjaelp_active.png");  }
ul.main-menu li.menu-331        { background-image: url("../images/logind.png");         }
ul.main-menu li.menu-331:hover  { background-image: url("../images/logind_hover.png");   }
ul.main-menu li.menu-331.active { background-image: url("../images/logind_active.png");  }

/**
 * SEARCH FORM
 */
#search-theme-form,
#search-theme-form .form-item,
#search-theme-form .form-text,
#search-theme-form .form-submit {
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  margin: 0;
  background: none;
}

#search-theme-form {
  background: #FFFFFF;
  padding: 3px 3px 3px 8px;
  border: 2px solid #dbddda;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#search-theme-form .form-item {
  background-image: url("../images/magnifier.png");
  background-repeat: no-repeat;
  background-position: left top;
}

#search-theme-form .form-text {
  padding: 6px 6px 4px 46px;
}

#search-theme-form .form-submit {
  background-color: #A5165D;
  height: 30px;
  width: 60px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
}

/**
 * RECOMMENDATIONS
 */
.view-anmeldelser h2,
.view-anmeldelser .submitted,
.view-anmeldelser .field-field-date,
.view-anmeldelser .field-field-review,
.view-anmeldelser .field-field-book .field-label,
.view-anmeldelser .field-field-book .record .types,
.view-anmeldelser .field-field-book .record .meta,
.view-anmeldelser .field-field-book .record .subjects {
  display: none;
}

.view-anmeldelser .node {
  border: none;
  margin: 0px;
  padding: 0px;
}

.view-anmeldelser .field-field-book li {
  list-style-type: none;
}

.view-anmeldelser .field-field-book .picture {
  float: left;
  padding-right: 10px;
}

.view-anmeldelser .field-field-book .picture img {
  width: 120px;
}

.view-anmeldelser .field-field-book .record {
  float: left;
  width: 178px;
}

.view-anmeldelser .field-field-book .abstract {
  font-size: 12px;
}

/**
 * VIDEO BLOCK
 */
.ebog_embed_video {
  margin: 10px 6px 23px 6px;
}

.ebog_embed_vimeo iframe {
  width: 324px;
  height: 184px;
  margin-bottom: 15px;
}

/**
 * BOOK ITEM
 */
.display-book,
.display-book .left,
.display-book .right,
.display-book .picture,
.display-book .title,
.display-book .author,
.display-book .icons,
.display-book .extras {
  clear: both;
  float: left;
}

.display-book {
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #DBDDDA; 
}

.display-book .left {
  margin-right: 12px;
}

.display-book .right {
  width: 226px;
  clear: none;
}

.display-book .picture img {
  width: 65px;
}

.display-book .extras,
.display-book .icons .description {
  display: none;
}

.display-book .icons {
  margin-top: 6px;
}

.display-book .icons .icons {
  float: right;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 45px;
  background-color: #A5165D;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8A114C), to(#A5165D));
  background: -webkit-linear-gradient(top, #A5165D, #8A114C); [> Safari 5.1, Chrome 10+ <]
  background: -moz-linear-gradient(top, #A5165D, #8A114C); [> Firefox 3.6+ <]
  background: -ms-linear-gradient(top, #A5165D, #8A114C); [> IE 10 <]
  background: -o-linear-gradient(top, #A5165D, #8A114C); [> Opera 11.10+ <]
  height: 24px;
}

.fivestar-static-form-item {
  padding-bottom: 36px;
}

div.fivestar-widget-static .star {
  width: 13px;
  height: 12px;
  background: url("../images/star.png") no-repeat scroll 0 -12px transparent;
  float: left;
  overflow: hidden;
}

div.fivestar-widget-static .star span.on,
div.fivestar-widget-static .star span.off {
  display: block;
  height: 100%;
  width: 100%;
}

div.fivestar-widget-static .star span.on {
  background: url("../images/star.png") no-repeat scroll 0 0 transparent;
}

div.fivestar-widget-static .star span.off {
  background: url("../images/star.png") no-repeat scroll 0 -12px transparent;
}

/**
 * CAROUSEL
 */
.infiniteCarousel {
  width: 940px;
}

.infiniteCarousel .wrapper {
  width: 930px;
}

.infiniteCarousel .back {
  background: url("../images/cycle-left.png") no-repeat center left;
}

.infiniteCarousel .back:hover {
  background: url("../images/cycle-left_hover.png") no-repeat center left;
}

.infiniteCarousel .forward {
  background: url("../images/cycle-right.png") no-repeat center right;
}

.infiniteCarousel .forward:hover {
  background: url("../images/cycle-right_hover.png") no-repeat center right;
}
