* {
  margin: 0;
}

html, body {
  height: 100%;
}

textarea,
input {
  color: #8c938b;
  padding: 10px;                                                                                                                                                                                                                                                          
}

input[type=submit] {
  border: 0;
  padding: 0 15px;
  height: 26px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a5165d), to(#8a114c));
  background: -moz-linear-gradient(top, #a5165d, #8a114c);
  line-height: 26px;
  text-decoration: none;
  font-size: 12px;
  color: #CCFA00;
}

input[type=submit]:hover {
  text-decoration: underline;
  -moz-box-shadow: inset 0 0 6px #000000;
  -webkit-box-shadow: inset 0 0 6px #000000;
  box-shadow: inset 0 0 6px #000000;
}

/**
 * MESSAGES
 */
div.messages {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px;
}

div.messages.status {
  color: #33A333;
  border-color: #33A333;
  background-color: #C7F2C8;
}

div.messages.error {
  color: #A30000;
  border-color: #A30000;
  background-color: #FCC;
}

/**
 * SIDEBAR FIRST
 */
.pane-content,
#sidebar-first .block .content,
#sidebar-first #block-elib_block_categories-0 .content .categories,
#sidebar-first #block-views-latest_news-block_1 .content .view-content,
.pane-embedvideo .ebog_embed_video,
.pane-front .feed-and-compare-front,
.pane-faq-panel-pane-1 .view-content .item-list ul {
  border: 2px solid #DBDDDA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /*
   *display: inline-block;
   *zoom: 1; [> ie7 hack for display:inline-block <]
   */
  padding: 10px;
}
/* EXCEPTIONS */
#sidebar-first #block-elib_block_categories-0 .content .categories,
#sidebar-first #block-views-latest_news-block_1 .content .view-content,
.panel-pane.pane-embedvideo .pane-content,
.pane-embedvideo .ebog_embed_video,
.pane-front .feed-and-compare-front,
.pane-faq-panel-pane-1 .view-content .item-list ul {
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

#sidebar-first #block-block-12 .content {
  background: none;
  margin: 0;
  padding: 16px;
  border: none;
  background-color: #A5165D;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8A114C), to(#A5165D));
  background: -webkit-linear-gradient(top, #A5165D, #8A114C); [> Safari 5.1, Chrome 10+ <]
  background: -moz-linear-gradient(top, #A5165D, #8A114C); [> Firefox 3.6+ <]
  background: -ms-linear-gradient(top, #A5165D, #8A114C); [> IE 10 <]
  background: -o-linear-gradient(top, #A5165D, #8A114C); [> Opera 11.10+ <]
}

#sidebar-first #block-block-12 .content h3 {
  background: url("../images/help-icon.png") no-repeat scroll 0 0 transparent;
  line-height: 40px;
  padding-left: 45px;
}

.pane-content .picture img,
.infiniteCarousel img {
  border: 1px solid #DDDFDC;
  padding: 3px;
  background-color: #FFFFFF;
}

.pane-content .picture img:hover,
.infiniteCarousel img:hover {
  border: 1px solid #A5165D;
}

#sidebar-first .block .content {
  background-color: #ededed;
  line-height: 20px;
}

.panel-pane .review-title,
h1#page-title.title,
.panel-pane.pane-views-panes.pane-user-reviews-panel-pane-1 h2.pane-title {
  margin-bottom: 12px;
}

/**
 * SUBJECTS BLOCK
 */
#sidebar-first #block-elib_block_categories-0 ul, #block-elib_block_categories-0 li {
  display: inline;
  margin: 0;
  padding: 0;
}

#sidebar-first #block-elib_block_categories-0 ul li:after {
  content: " • ";
}

#sidebar-first #block-elib_block_categories-0 .content,
.panel-pane.pane-embedvideo .pane-content,
.panel-pane.pane-front .pane-content,
#sidebar-first #block-views-latest_news-block_1 .content,
.pane-elib-block-lastloans-3 .pane-content {
  padding: 0 !important;
  border: 0 !important;
}

#sidebar-first #block-elib_block_categories-0 .content .categories,
.pane-embedvideo .ebog_embed_video,
.pane-front .feed-and-compare-front,
#sidebar-first #block-views-latest_news-block_1 .content .view-content,
.pane-faq-panel-pane-1 .view-content .item-list ul {
  padding: 10px;
}

#sidebar-first #block-elib_block_categories-0 .content .categories-link,
.pane-front .bottom-bar .see-more,
.pane-embedvideo .bottom-bar .see-more,
#sidebar-first #block-views-latest_news-block_1 .content .view-footer p,
#main-content .pane-faq-panel-pane-1 .view-content .item-list .views-field-tid span.field-content {
  float: left;
  margin-left: 10px;
}

#sidebar-first #block-elib_block_categories-0 .content .categories-links,
.pane-content .bottom-bar,
#sidebar-first #block-views-latest_news-block_1 .content .view-footer,
#main-content .pane-faq-panel-pane-1 .view-content .item-list .views-field-tid {
  height: 26px;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a5165d), to(#8a114c));
  background: -moz-linear-gradient(top, #a5165d, #8a114c);
}

#sidebar-first #block-elib_block_categories-0 .content .categories-link a,
.pane-front .bottom-bar .see-more a,
.pane-embedvideo .bottom-bar .see-more a,
#sidebar-first #block-views-latest_news-block_1 .content .view-footer a,
#main-content .pane-faq-panel-pane-1 .view-content .item-list .views-field-tid span.field-content a {
  padding: 3px 7px;
}

#sidebar-first #block-elib_block_categories-0 .content .categories-link a:hover,
.pane-front .bottom-bar .see-more a:hover,
.pane-embedvideo .bottom-bar .see-more a:hover,
#sidebar-first #block-views-latest_news-block_1 .content .view-footer a:hover,
#main-content .icons ul li a:hover,
#main-content .pane-faq-panel-pane-1 .view-content .item-list .views-field-tid span.field-content a:hover {
  padding: 2px 6px;
  border: 1px solid #b41a67;
  border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}

.clear-fix {
  clear: both;
}

/**
 * LATEST NEWS BLOCK
 */
.view-latest-news .views-row {
  margin-top: 15px;
}

.view-latest-news .views-row.views-row-first {
  margin-top: 0;
}

/**
 * PRIMARY NAVIGATION
 */
#site-menu ul,
#site-menu ul li {
  padding: 0;
  margin: 0;
}

#site-menu ul.menu li a {
  text-indent: -9999px;
  white-space: nowrap; 
  outline: none;
}

#site-menu ul.menu li,
#site-menu ul.menu li a {
  height: 112px;
  width: 80px;
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  background-repeat: no-repeat;
}

#site-menu ul.menu li:hover {
  cursor: pointer;
}

#site-menu ul.menu li:first-child a                    { background-image: url("../images/forside.png");        }
#site-menu ul.menu li:first-child a:hover              { background-image: url("../images/forside_hover.png");  }
#site-menu ul.menu li:first-child a.active             { background-image: url("../images/forside_active.png"); }
#site-menu ul.menu li:first-child + * a                { background-image: url("../images/emner.png");          }
#site-menu ul.menu li:first-child + * a:hover          { background-image: url("../images/emner_hover.png");    }
#site-menu ul.menu li:first-child + * a.active         { background-image: url("../images/emner_active.png");   }
#site-menu ul.menu li:first-child + * + * a            { background-image: url("../images/hjaelp.png");         }
#site-menu ul.menu li:first-child + * + * a:hover      { background-image: url("../images/hjaelp_hover.png");   }
#site-menu ul.menu li:first-child + * + * a.active     { background-image: url("../images/hjaelp_active.png");  }
#site-menu ul.menu li:first-child + * + * + * a        { background-image: url("../images/logind.png");         }
#site-menu ul.menu li:first-child + * + * + * a:hover  { background-image: url("../images/logind_hover.png");   }
#site-menu ul.menu li:first-child + * + * + * a.active { background-image: url("../images/logind_active.png");  }

/**
 * SEARCH FORM
 */
#ting-search-form,
#ting-search-form .form-item,
#ting-search-form .form-text,
#ting-search-form .form-submit {
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  margin: 0;
  background: none;
}

#ting-search-form {
  background: #FFFFFF;
  padding: 3px 3px 3px 8px;
  border: 2px solid #dbddda;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#ting-search-form .form-item {
  background-image: url("../images/magnifier.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0;
}

#ting-search-form .form-text {
  padding: 6px 6px 4px 46px;
}

#ting-search-form .form-submit {
  background-color: #A5165D;
  height: 30px;
  width: 60px;
  text-transform: uppercase;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 3px 5px 3px rgba(0, 0, 0, .4);
}

#ting-search-form h2,
#ting-search-form .example {
  display:none;
}

/**
 * RECOMMENDATIONS
 */
.view-anmeldelser h2,
.view-anmeldelser .submitted,
.view-anmeldelser .field-field-date,
.view-anmeldelser .field-field-review,
.view-anmeldelser .field-field-book .field-label,
.view-anmeldelser .field-field-book .record .types,
.view-anmeldelser .field-field-book .record .meta,
.view-anmeldelser .field-field-book .record .subjects {
  display: none;
}

.view-anmeldelser .node {
  border: none;
  margin: 0px;
  padding: 0px;
}

.view-anmeldelser .field-field-book li,
#main-content .icons ul li {
  list-style-type: none;
}

#main-content .icons ul {
  margin: 0;
}

#main-content .icons ul li {
  float: left;
  margin: 0 4px;
}

#main-content .icons ul li.seperator {
  float: left;
  margin: 0;
  border: 1px solid #B31A66;
  height: 18px;
  margin-top: 3px;
}

#main-content .icons ul li a {
  padding: 4px 7px;
}

.view-anmeldelser .field-field-book .picture,
.pane-front .feed-and-compare-front .picture {
  float: left;
  padding-right: 10px;
}

.view-anmeldelser .field-field-book .picture a {
  display: block;
}

.view-anmeldelser .field-field-book .picture img,
.pane-front .feed-and-compare-front .picture_image img {
  width: 120px;
}

.view-anmeldelser .field-field-book .record,
.pane-front .feed-and-compare-front .record {
  float: left;
  width: 198px;
}

.view-anmeldelser .field-field-book .record h3,
.pane-front .feed-and-compare-front .title {
  margin-bottom: 10px;
}

/**
 * VIDEO BLOCK
 */
.ebog_embed_youtube,
.ebog_embed_vimeo,
.ebog_embed_title,
.ebog_embed_descr {
  margin-bottom: 8px;
}

.ebog_embed_youtube object embed,
.ebog_embed_vimeo iframe {
  width: 316px;
  height: 184px;
}


/**
 * BOOK ITEM
 */
.display-book .left,
.display-book .right,
.display-book .picture,
.display-book .title,
.display-book .author,
.display-book .extras {
  clear: both;
  float: left;
}

.display-book .icons {
  clear: both;
  float: right;
}

.display-book {
  clear: both;
}

.display-book,
.view-anmeldelser .views-row,
.pane-front .feed-and-compare-front .feed_and_compare_front_item {
  display: inline-block;
  zoom: 1; /* ie7 hack for display:inline-block */
  *display: inline;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #DBDDDA; 
}

.display-book.index-1,
.view-anmeldelser .views-row-first,
.pane-elib-user-account .pane-content .display-book.biglist:first-child {
  padding-top: 0;
}

.display-book.index-7,
.view-anmeldelser .views-row-last,
.pane-front .feed-and-compare-front .feed_and_compare_front_item:first-child + * {
  border-bottom: 0;
  padding-bottom: 0;
}

.pane-front .feed-and-compare-front .feed_and_compare_front_item:first-child {
  padding-top: 0;
}

.display-book .left {
  margin-right: 12px;
}

.display-book .right {
  width: 226px;
  clear: none;
}

.display-book .picture img {
  width: 65px;
}

#ting-object .picture img {
  width: 152px;
}

.display-book .extras,
.display-book div .item-list,
.display-book .icons .description {
  display: none;
}

#ting-object .item-list ul.subject {
  clear: both;
  margin: 0;
  padding: 0;
}

.display-book .icons {
  margin-top: 6px;
}

.display-book .icons .icons,
#ting-object .inner .icons {
  float: right;
  border: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #A5165D;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8A114C), to(#A5165D));
  background: -webkit-linear-gradient(top, #A5165D, #8A114C); [> Safari 5.1, Chrome 10+ <]
  background: -moz-linear-gradient(top, #A5165D, #8A114C); [> Firefox 3.6+ <]
  background: -ms-linear-gradient(top, #A5165D, #8A114C); [> IE 10 <]
  background: -o-linear-gradient(top, #A5165D, #8A114C); [> Opera 11.10+ <]
  height: 24px;
}

.display-book .icons .icons img,
#ting-object .inner .icons img {
  padding: 4px;
  vertical-align: text-bottom;
}

/**
 * VOXB
 */
.rating-for-faust {
  clear: both;
}

.addRatingContainer .rating {
  width: 13px;
  height: 12px !important;
  background: url("../images/star.png") no-repeat scroll 0 -12px transparent;
  float: left;
  overflow: hidden;
}

.addRatingContainer .rating.star-on,
.addRatingContainer .rating.star-off,
.addRatingContainer .rating.star-black {
  display: block;
}

.addRatingContainer .rating.star-on,
.addRatingContainer .rating.star-black {
  background: url("../images/star.png") no-repeat scroll 0 0 transparent;
}

.addRatingContainer .rating.star-off {
  background: url("../images/star.png") no-repeat scroll 0 -12px transparent;
}

#ting-object .ratingsContainer {
  width: 100%;
  margin: 5px 0;
  float: none;
  clear: both;
  display: block;
}

#voxb textarea,
#user-login .form-item input {
  width: 500px;
  border: 1px solid #DBDDDA;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#voxb input[type="submit"],
#user-login input[type="submit"] {
  float: right;
}

#voxb .voxbReview {
  margin-bottom: 20px;
}

#voxb .voxbReview .views-field-uid {
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
}

/**
 * LOGIN
 */
#user-login {
  width: 500px;
}

#user-login .form-item input {
  width: 490px;
  padding: 4px;
}

#user-login #edit-library-wrapper label {
  float: left;
  margin-right: 15px;
}

#user-login #edit-name-wrapper label,
#user-login #edit-pass-wrapper label {
  color: #8C938B;
}

#user-login .form-item label {
  font-weight: normal;
}

/**
 * MIN SIDE
 */
.page-min-side .panel-separator {
  clear: none;
  display: none;
}

.pane-elib-user-account,
.pane-netsound-cart-0 {
  float: left;
  width: 340px;
  margin: 0;
}

.pane-elib-user-account {
  margin-right: 10px;
}

.pane-netsound-cart-0 {
  margin-left: 10px;
}

.pane-elib-user-account ul {
  margin: 0;
}

.pane-elib-block-lastloans-3 {
  margin-bottom: 35px;
}

.pane-elib-user-account .loanperiod {
  clear: both;
  font-weight: bold;
  padding-top: 10px;
}

.pane-elib-user-account .loanperiod.short   { color: #C00;    }
.pane-elib-user-account .loanperiod.medium  { color: #FF8;     }
.pane-elib-user-account .loanperiod.long    { color: #9BC833;  }


/**
 * FOOTER
 */
#footer #footer-first {
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#footer #footer-first .block.block-block {
  width: 220px;
  float: left;
}

#footer #footer-first .block.block-block .content {
  margin-right: 10px;
  margin-top: 25px;
}

/**
 * CAROUSEL
 */
.infiniteCarousel {
  width: 940px;
  height: 230px;
  position: relative;
}

.infiniteCarousel .wrapper {
  margin-left: 28px;
  width: 885px;
  overflow: auto;
  height: 230px;
  margin: 0 5px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display: block;
  float: left;
  height: 198px;
  padding: 0 13px;
  width: 120px;
}

.infiniteCarousel .back {
  background: url("../images/cycle-left.png") no-repeat center left;
}

.infiniteCarousel .back:hover {
  background: url("../images/cycle-left_hover.png") no-repeat center left;
}

.infiniteCarousel .forward {
  background: url("../images/cycle-right.png") no-repeat center right;
}

.infiniteCarousel .forward:hover {
  background: url("../images/cycle-right_hover.png") no-repeat center right;
}



.panel-2col .panel-separator {
  margin: 0 0 20px 0;
}

.panel-pane.pane-block.pane-netsound-review-0,
.panel-pane.pane-block.pane-netsound-review-1,
.panel-pane.pane-block.pane-netsound-review-2,
.panel-pane.pane-views-panes.pane-user-reviews-panel-pane-1,
.panel-pane.pane-voxb {
  float: right;
}
