.block-ebog_banner {
  position: relative;
}

.block-ebog_banner .bottom-bar {
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-color: #BE1F24;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  bottom: 0;
  height: 26px;
  left: 0;
  position: absolute;
  width: 100%;
}

.block-ebog_banner .bottom-bar a {
  color: #fff;
  line-height: 26px;
  margin-left: 10px;
  padding: 3px 7px;
  text-decoration: none;
}

.block-ebog_banner .bottom-bar a:hover {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  border: 1px solid #b41a67;
  padding: 2px 6px;
  text-decoration: underline;
}

.block-ebog_banner .ebog-banner-image img {
  height: auto;
  width: 100%;
}

.pane-ebog-banner-0 .ebog-banner {
  border: medium none;
}
