.ui-dialog-overlay {
  background-color: #000;
  opacity: 0.5;
}

.ui-dialog {
  height: auto !important;
  width: auto !important;
}

.ui-dialog-buttonpane {
  text-align: center !important;
}

.ebog-download-confirm p,
.ebog-download-error p,
.ebog-download-info p {
  text-align: center;
}
