.section-ting .pane-content,
.page-emner .pane-content,
.page-help .pane-content,
.pane-elib-block-lastloans-6 .pane-content {
  border: 0 none;
  padding: 0;
}

#ting-object .panel-1col .panel-pane {
  float: right;
}

#ting-object .author,
#ting-object .abstract,
#ting-object .description,
#ting-object .details,
#ting-object .icons,
.panel-separator,
.panel-region-separator {
  clear:both;
  list-style-type: none;
}

/**
 * TEMP HACK REMOVE LATER.
 */
.page-min-side .icons .sample {
  display: none;
}

.panel-separator,
.panel-region-separator {
  height: 25px;
}

#ting-object .details .item-list h3 {
  float: left;
  font-weight: normal;
}

#ting-object .details {
  color: #8c938b;
}

#ting-object .publisherDescription,
#ting-object .publisherDescription .details {
  color: #000;
  margin-bottom: 25px;
}

#ting-object .publisherDescription .read-more {
  display: block !important;
}

#ting-object .publisherDescription .read-more:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #BE1F24;
    content: "";
    height: 0;
    margin-right: 8px;
    position: relative;
    top: 12px;
    width: 0;
}

#ting-object .publisherDescription .read-less:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #BE1F24;
    content: "";
    height: 0;
    margin-right: 8px;
    position: relative;
    top: -10px;
    width: 0;
}

#ting-object .publisherDescription p {
  margin-bottom: 1em;
}

#ting-object .publisherDescription .section {
  font-weight: bold;
}

#ting-object .publisherDescription,
#ting-object .abstract {
  margin-top: 25px;
}

/** @todo
 *
 * This is hidden since ting v1.7.
 * Remove when needed.
 */

#ting-object .tab-navigation.ui-tabs,
#ting-object .ui-tabs-nav {
  display: none;
}

#ting-object #main {
  border: 0;
  padding: 0;
}
